DROP VIEW IF EXISTS public.all_employee_data;
ALTER TABLE public.employee_data DROP COLUMN IF EXISTS "Email";
ALTER TABLE public.legacy_employee_data DROP COLUMN IF EXISTS "Email";
-- เธชเธฃเนเธฒเธ SQL View เธชเธณเธซเธฃเธฑเธเธฃเธงเธกเธเนเธญเธกเธนเธฅ 2 เธ•เธฒเธฃเธฒเธ
CREATE OR REPLACE VIEW public.all_employee_data AS
SELECT -id as id, user_id, password, "PersonID", "PersonnelNumber", "SCGEmployeeID", "NamePrefixThai", "FirstNameThai", "LastNameThai", "NamePrefixEnglish", "FirstNameEnglish", "LastNameEnglish", "NickName", "PositionID", "PositionNameThai", "PrimaryPosition", "PLGroup", "OrganizationID", "Sub1ShiftThai", "ShiftThai", "Sub1SectionThai", "SectionThai", "Sub1DepartmentThai", "DepartmentThai", "Sub1DivisionThai", "DivisionThai", "Sub1CompanyThai", "CompanyThai", "Sub11BusinessUnitThai", "Sub1BusinessUnitThai", "BusinessUnitDescriptionThai", "PositionEnglish", "Sub1ShiftEnglish", "ShiftEnglish", "Sub1SectionEnglish", "SectionEnglish", "Sub1DepartmentEnglish", "DepartmentEnglish", "Sub1DivisionEnglish", "DivisionEnglish", "Sub1CompanyEnglish", "CompanyEnglish", "CompanyCode", "Sub11BusinessUnitEnglish", "Sub1BusinessUnitEnglish", "BusinessUnitDescriptionEnglish", "BusinessUnitCode", "OrganizationIndexForSorting", "ConsolidateCompany", "HeadOfOrganizationUnit", "ApproverLevelCode", "ApproverLevel", "PositionStructureLevelCode", "PositionStructureLevel", "OrgStructureLevelCode", "OrgStructureLevel", "MSSSAPAuthorization", "HRSAPAuthorization", "PersonnelAreaCode", "PersonnelArea", "PersonnelSubAreaCode", "PersonnelSubArea", "WorkingLocationCode", "WorkingLocation", "EmploymentStatusText", "CostCenterPayment", "CostCenterOrganization", "WorkContract", "PayrollArea", "OrgKey", "ReportToPersonnelNumber", "ReportToName", "ReportToPosition", "ReportToPositionName", "ReportToEmail", "ManagerPersonnelNumber", "ManagerName", "ManagerPosition", "ManagerPositionName", "ManagerEmail", "TelephoneHome", "TelephoneMobile", "OfficeAddress", "USER", "EmailAddressBusiness", "TelephoneBusiness", "TelephoneBeside", "KeyDate", "SystemDate", "DOALevelCode", "DOALevelText", "RecordDate", "Pipeline", "FullName", "JobGroup", "Certificate" FROM public.legacy_employee_data
UNION ALL
SELECT id, user_id, password, "PersonID", "PersonnelNumber", "SCGEmployeeID", "NamePrefixThai", "FirstNameThai", "LastNameThai", "NamePrefixEnglish", "FirstNameEnglish", "LastNameEnglish", "NickName", "PositionID", "PositionNameThai", "PrimaryPosition", "PLGroup", "OrganizationID", "Sub1ShiftThai", "ShiftThai", "Sub1SectionThai", "SectionThai", "Sub1DepartmentThai", "DepartmentThai", "Sub1DivisionThai", "DivisionThai", "Sub1CompanyThai", "CompanyThai", "Sub11BusinessUnitThai", "Sub1BusinessUnitThai", "BusinessUnitDescriptionThai", "PositionEnglish", "Sub1ShiftEnglish", "ShiftEnglish", "Sub1SectionEnglish", "SectionEnglish", "Sub1DepartmentEnglish", "DepartmentEnglish", "Sub1DivisionEnglish", "DivisionEnglish", "Sub1CompanyEnglish", "CompanyEnglish", "CompanyCode", "Sub11BusinessUnitEnglish", "Sub1BusinessUnitEnglish", "BusinessUnitDescriptionEnglish", "BusinessUnitCode", "OrganizationIndexForSorting", "ConsolidateCompany", "HeadOfOrganizationUnit", "ApproverLevelCode", "ApproverLevel", "PositionStructureLevelCode", "PositionStructureLevel", "OrgStructureLevelCode", "OrgStructureLevel", "MSSSAPAuthorization", "HRSAPAuthorization", "PersonnelAreaCode", "PersonnelArea", "PersonnelSubAreaCode", "PersonnelSubArea", "WorkingLocationCode", "WorkingLocation", "EmploymentStatusText", "CostCenterPayment", "CostCenterOrganization", "WorkContract", "PayrollArea", "OrgKey", "ReportToPersonnelNumber", "ReportToName", "ReportToPosition", "ReportToPositionName", "ReportToEmail", "ManagerPersonnelNumber", "ManagerName", "ManagerPosition", "ManagerPositionName", "ManagerEmail", "TelephoneHome", "TelephoneMobile", "OfficeAddress", "USER", "EmailAddressBusiness", "TelephoneBusiness", "TelephoneBeside", "KeyDate", "SystemDate", "DOALevelCode", "DOALevelText", "RecordDate", "Pipeline", "FullName", "JobGroup", "Certificate" FROM public.employee_data;
